<div class="jumbotron jumbotron-fluid pb-0" [appBgImg]="bannerImg">
  <div class="container py-5">
    <div class="row">
      <div
        class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4"
        *ngIf="mainVoteItem"
      >
        <app-voting-card-simple
          [voteItem]="mainVoteItem"
          (voteAction)="updateVoteItem($event, mainVoteItem)"
        ></app-voting-card-simple>
      </div>
    </div>
  </div>
  <app-progress-bar
    showArrow="true"
    centerLabels="true"
    [value]="daysPassedPercentage"
    [maxValue]="100"
    leftLabel="closing in"
    rightLabel="{{ daysLeftPercentage }} days"
  ></app-progress-bar>
</div>

<div class="container">
  <div class="alert alert-secondary" role="alert">
    <div class="row">
      <div class="col-auto">
        <span class="font-weight-normal h5">Speak out. Be heard.</span><br />
        <span class="font-weight-bold h3">Be counnted</span>
      </div>
      <div class="col">
        Rule of Thumb is a crowd sourced court of public opinion where anyone
        and everyone can speak out and speak freely. It's easy: You share your
        opinion, we analyze and put the data in a public report.
      </div>
    </div>
  </div>

  <br />

  <h1 class="font-weight-light">Votes</h1>

  <br />

  <div class="row voting-cards-list" *ngIf="voteItems; else noItemsTmpl">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of voteItems">
      <app-voting-card-detailed
        [voteItem]="item"
        [alreadyVoted]="userAlreadyVoted(item._id)"
        (voteAction)="updateVoteItem($event, item)"
      ></app-voting-card-detailed>
    </div>
  </div>

  <ng-template #noItemsTmpl>
    <div class="alert alert-warning" role="alert">
      No vote items available
    </div>
  </ng-template>

  <div class="p-2" appBgImg="assets/people.jpg">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-sm-8 col-md-9">
        <h3 class="font-weight-light m-0">
          Is there anyone else yo would want ud to add?
        </h3>
      </div>
      <div class="col-12 col-sm-4 col-md-3">
        <button
          type="button"
          class="btn btn-outline-dark btn-block rounded-0 mt-2 mt-sm-0"
        >
          Submit a Name
        </button>
      </div>
    </div>
  </div>
</div>
