<div class="container pb-3">
  <hr class="text-secondary" />
  <div class="row justify-content-between">
    <div class="col-12 col-sm-auto">
      <div class="row">
        <div class="col-12 col-sm-auto text-center text-sm-left">
          <a href="#" class="text-nowrap text-dark">Terms and Conditions</a>
        </div>
        <div class="col-12 col-sm-auto text-center text-sm-left">
          <a href="#" class="text-nowrap text-dark">Privacy Policy</a>
        </div>
        <div class="col-12 col-sm-auto text-center text-sm-left">
          <a href="#" class="text-nowrap text-dark">Contact Us</a>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-sm-auto d-flex align-items-center justify-content-center pt-3 pt-sm-0"
    >
      <span class="pr-2">Follow Us</span>
      <i class="fa fa-facebook-official fa-2x pr-2" aria-hidden="true"></i>
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</div>
