<nav class="navbar navbar-expand-md navbar-dark bg-transparent">
  <div class="container">
    <a class="navbar-brand" href="#">Rule of Thumb</a>
    <div class="collapse navbar-collapse justify-content-end">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Past Trials</a>
        <a class="nav-item nav-link" href="#">How It Works</a>
        <button
          type="button"
          class="btn btn-link nav-item nav-link"
          *ngIf="user; else authAction"
          (click)="logout()"
        >
          Logout
        </button>
        <ng-template #authAction>
          <button
            type="button"
            class="btn btn-link nav-item nav-link"
            (click)="openAuthenticationModal()"
          >
            Log In / Sign Up
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
