<div class="card border-0 rounded-0">
  <div class="card-body">
    <small class="text-white">What's you opinion on</small>
    <h1 class="card-title">{{ voteItem.name }}</h1>
    <p class="card-text">{{ voteItem.desc | trucateTxt: 120:true }}</p>
    <button
      class="btn btn-link card-link text-white p-0"
      *ngIf="voteItem.infoLink"
      [appExternalUrl]="voteItem.infoLink"
    >
      <i class="fa fa-wikipedia-w pr-1" aria-hidden="true"></i>
      <u>More information</u>
    </button>
    <p class="card-text font-weight-bold pt-3">What's Your Verdict?</p>
  </div>
  <div class="card-footer border-0 p-0">
    <div class="row no-gutters">
      <div class="col">
        <button
          class="btn btn-orange-theme btn-block rounded-0 border-0 p-3"
          (click)="submitVote('positive')"
        >
          <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col">
        <button
          class="btn btn-blue-theme btn-block rounded-0 border-0 p-3"
          (click)="submitVote('negative')"
        >
          <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
