<div class="card border-0 rounded-0">
  <div class="card-body">
    <small class="text-white">What's you opinion on</small>
    <h1 class="card-title">Pope Francis?</h1>
    <p class="card-text">
      He's talking tough on clergy sexual abuse, but is he just another papal
      pervert protector? (thumbs down) or a true pedophile punishing pontiff)
      (thumbs up)
    </p>
    <a href="#" class="card-link text-white">
      <i class="fa fa-wikipedia-w pr-1" aria-hidden="true"></i>
      <u>More information</u>
    </a>
    <p class="card-text font-weight-bold pt-3">What's Your Verdict?</p>
  </div>
  <div class="card-footer border-0 p-0">
    <div class="row no-gutters">
      <div class="col bg-warning text-center p-3">
        <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
      </div>
      <div class="col bg-primary text-center p-3">
        <i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
