<div
  class="custom-progress-bar"
  [class.custom-progress-bar--theme-color]="percentageMode"
>
  <div class="left" [class.text-left]="!centerLabels">
    <i
      class="fa fa-thumbs-up pr-2"
      aria-hidden="true"
      *ngIf="percentageMode"
    ></i>
    <h5 class="d-inline-block">{{ leftLabel }}</h5>
  </div>
  <div class="arrow" *ngIf="showArrow"></div>
  <div class="right" [class.text-right]="!centerLabels">
    <h5 class="d-inline-block">{{ rightLabel }}</h5>
    <i
      class="fa fa-thumbs-down pl-2"
      aria-hidden="true"
      *ngIf="percentageMode"
    ></i>
  </div>
</div>
