<div class="modal-header pb-0 border-bottom-0">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-12 text-center pb-2">
      <h4 class="text-secondary">Inicia sesión o registrate</h4>
      <ngb-alert *ngIf="authError" type="danger" [dismissible]="false">
        {{ authError }}
      </ngb-alert>
    </div>
    <div class="col-12">
      <div [hidden]="activeView !== 'login'" class="text-center">
        <div class="pb-2">
          <app-login-form></app-login-form>
        </div>

        <button
          class="btn btn-primary btn-block mt-2"
          [disabled]="loginActionInProgress"
          (click)="signInWithEmail()"
        >
          <span class="pr-2">Iniciar sesión</span>
          <i
            class="fa fa-chevron-right"
            *ngIf="!loginActionInProgress; else spinner"
          ></i>
          <ng-template #spinner>
            <i class="fa fa-spinner fa-spin fa-fw"></i>
          </ng-template>
        </button>
      </div>

      <div [hidden]="activeView !== 'register'">
        <div class="pb-2">
          <app-register-form></app-register-form>
        </div>

        <button
          class="btn btn-primary btn-block"
          [disabled]="registerActionInProgress"
          (click)="signup()"
        >
          <span class="pr-2">Registrarse</span>
          <i
            class="fa fa-chevron-right"
            *ngIf="!registerActionInProgress; else spinner"
          ></i>
          <ng-template #spinner>
            <i class="fa fa-spinner fa-spin fa-fw"></i>
          </ng-template>
        </button>
      </div>

      <div class="text-center pt-3">
        <ng-container *ngIf="activeView === 'login'">
          <span class="text-center text-secondary pr-1">No tienes cuenta?</span>
          <button
            class="btn btn-link p-0 align-baseline"
            (click)="activeView = 'register'"
          >
            Registrate
          </button>
        </ng-container>

        <ng-container
          *ngIf="activeView === 'register' || activeView === 'recoverPass'"
        >
          <span class="text-center text-secondary pr-1"
            >Ya tienes una cuenta?</span
          >
          <button
            class="btn btn-link p-0 align-baseline"
            (click)="activeView = 'login'"
          >
            Iniciar sesión
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
