<form class="pb-2" [formGroup]="registerForm">
  <div class="pb-2">
    <input
      type="text"
      class="form-control"
      placeholder="Nombre completo"
      formControlName="name"
      [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('name') }"
    />
  </div>

  <div class="pb-2">
    <input
      type="email"
      class="form-control"
      placeholder="Correo electrónico"
      formControlName="email"
      [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('email') }"
    />
  </div>

  <input
    type="password"
    class="form-control"
    placeholder="Contraseña"
    formControlName="password"
    [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('password') }"
  />
</form>
