<div class="card text-white border-0 rounded-0" [appBgImg]="voteItem.imageUrl">
  <div class="card-img-overlay p-0">
    <div class="card-body p-0 h-100">
      <div class="row align-items-end h-100">
        <div class="col">
          <div class="row no-gutters">
            <div class="col-auto p-2">
              <i
                class="fa fa-thumbs-up fa-lg bg-blue-theme p-2"
                aria-hidden="true"
              ></i>
            </div>
            <div class="col pb-5">
              <h1 class="card-title m-0">{{ voteItem.name }}</h1>
              <small>1 month ago in Bussiness</small>
              <p class="pt-3 block-with-text">
                {{ voteItem.desc | trucateTxt: 100:true }}
              </p>

              <ng-container *ngIf="!alreadyVoted">
                <button
                  class="btn btn-blue-theme rounded-0 mr-2"
                  [class.border-light]="activeVoteType === 'positive'"
                  (click)="changeActiveVoteType('positive')"
                >
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </button>

                <button
                  class="btn btn-orange-theme border-light rounded-0 mr-2"
                  [class.border-light]="activeVoteType === 'negative'"
                  (click)="changeActiveVoteType('negative')"
                >
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                </button>
              </ng-container>

              <button
                type="button"
                class="btn btn-outline-light rounded-0"
                *ngIf="alreadyVoted; else voteBtn"
                (click)="toggleVotingControls()"
              >
                Vote again
              </button>

              <ng-template #voteBtn>
                <button
                  type="button"
                  class="btn btn-outline-light rounded-0"
                  (click)="submitVote()"
                >
                  Vote now
                </button>
              </ng-template>
            </div>

            <div class="col-12">
              <app-progress-bar
                percentageMode="true"
                [value]="positiveVotesPercentage"
                [maxValue]="100"
                leftLabel="{{ positiveVotesPercentage }}%"
                rightLabel="{{ negativeVotesPercentage }}%"
              ></app-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
