/**
 * Layout:
 * Use this file to declare layout styles
 */

// Main app container
.app-container {
  position: relative;
  padding-bottom: 10px;
}

// -------------------
// #BACKGROUND
// -------------------

[appBgImg] {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
