/**
 * Variables:
 * Use this file to declare your sass variables that you will be using
 * recurrently in the project, such as colors or fonts.
 */

// -------------------
// #COLOR SYSTEMN
// -------------------

$carrot: #e67e22;
$turquoise: #1abc9c;

$app-theme-colors: (
  'orange': $carrot,
  'blue': $turquoise
);
